/**
* Menu Style
*/
/*Header*/
a.left-menu-item-header{
	text-decoration: none;
	display: block;
	/*width: 197px; 249 - padding-left*/
	width: 100% - 52px;
	height: 38px;
	font-size: 16pt;
	color: #525252;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 52px;
	border-bottom: 1px solid #DBDBDB;
	background-color: #F5F5F5;
	background-repeat: no-repeat;
}

a#left-menu-item-header-java{
	background-image: url("img/menu/menu-java.png");
	border-top: 1px solid #DBDBDB;
}

a#left-menu-item-header-php{
	background-image: url("img/menu/menu-php.png");
}

a#left-menu-item-header-js{
	background-image: url("img/menu/menu-js.png");
}

a#left-menu-item-header-html{
	background-image: url("img/menu/menu-html.png");
}

a#left-menu-item-header-net{
	background-image: url("img/menu/menu-net.png");
}

a#left-menu-item-header-tips{
	background-image: url("img/menu/menu-tips.png");
}

a#left-menu-item-header-android{
	background-image: url("img/menu/menu-android.png");
}

/*-------------------------------------------------------*/
ul.left-menu-item-sub {
	margin-top: 2px;
}

ul.left-menu-item-sub li a{
	text-decoration: none;
	display: block;
	/*width: 199px; 249 - padding-left*/
	width: 100% - 50px;
	/*height: 23px;*/
	height: 24px;
	padding-left: 50px;
	color: black;
	padding-top: 6px;
	margin-bottom: 2px;
	background-repeat: no-repeat;
	background-image: url("img/menu/item-dot.png");
	background-position: 30px 9px;
	border-bottom: 1px solid #F5F5F5;
}
/** Style for mobile */
div#mob-toolbar {
	width: 100%;
	height: 50px;
	background-color: #F5F5F5;
	border-top: 1px solid #DBDBDB;
	position: fixed;
	display: none;
	bottom: 0;
}

div#mob-home{
	width: 48px;
	height: 48px;
	float: left;
}

div#mob-menu{
	width: auto;
	height: 30px;
	padding-top: 18px;
	color: #272822;
	float: left;
}
